@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap");

*,
*:before,
*:after {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}

:root {
  font-family: "Poppins", Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --color: rgba(255, 255, 255, 0.87);
  --color-hover: rgba(219, 219, 219, 0.87);
  --icon-color: rgba(255, 255, 255, 0.87);
}

a {
  font-weight: 500;
  color: var(--color);
  text-decoration: inherit;
}
a:hover {
  color: var(--color-hover);
}

ul {
  list-style: none;
}

body {
  margin: 0;
  display: flex;
  min-width: 320px;
  min-height: 100dvh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}
